# Simulator SDK version (sdk2 ~ sdk5)
SDK_VERSION=sdk5

# Robot model
# Options: M0609, M0617, M1013, M1509, A0509, A0912, H2017, H2515, E0509, P3020
ROBOT_MODEL=M1013

# Simulator resources
SIMULATOR_CPU=4
SIMULATOR_MEMORY=2g
